# Ignore everything
*

# But not these files...
!makefile
!update_payload
!bsdiff/Makefile
!bsdiff/orig_include
!bsdiff_repo
!puffin/Makefile
!puffin/orig_include
!puffin_repo
!update_payload
!payload_dumper.py
!requirements.txt
!output/.gitkeep
!README.md
